.logo{
    background-image: url(/img/pattern.png);
    background-repeat: repeat-x;
}

#pattern_header {;
    background-color: aqua;
}

thead {
    background-color: #47a1ff;
}

th {
    color: white;
    text-align: left;
}

.riga_celeste {
    background-color: #c1f3ff;
    
}

.txt_grey {
   color: grey; 
}

.txt_blue {
    color: #c1f3ff;
}